RAG_EMBEDDING_API_KEY=
RAG_OPEN_AI=
RAG_QWEN3_NEXT_80B_A3B_THINKING=

EMBEDDING_BASE_URL=
EMBEDDING_MODEL=

LLM_BASE_URL=

# QDRANT_URL=https://109c366d-e0ff-4ef1-a6fe-75608ab92a42.europe-west3-0.gcp.cloud.qdrant.io:6333
# QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.sXCYMWR9t4dl1YlaS-miIRY4SlLtqc1LOJNNrwdJt8o

QDRANT_URL=
QDRANT_API_KEY=

CHUNK_MODEL=
RAG_MODEL=
REWRITE_MODEL=

GDRIVE_SERVICE_ACCOUNT_JSON=
PORT=
WORKERS=
ENV=


LLM_BASE_URL=
