flask
flask-cors
streamlit
gradio

langchain
langchain-community
langchain-core
langchain-openai
langchain-ollama
langchain-qdrant
langchain-text-splitters

openai
litellm

ollama
qdrant-client
chromadb
fastembed

docling
pdfplumber
pypdfium2
python-docx

python-dotenv
tenacity
torch
redis
pybreaker
tqdm

google-api-python-client
google-auth

PyMuPDF